@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&family=Montserrat:wght@100;300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #F0EFF4;
    --color-secondary: #8B0000;
    --color-tertiary: #3A3E3B;   

    --font-primary: "Montserrat", serif;
    --font-secondary: "Lora", serif;
}

body {
    background-color: var(--color-primary);
    /*font: bold 2rem;*/
}

.todo {
    display: flex;
    width: 50vw;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 15px;
}

.todo-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary);
    width: 100%;
    height: 80px;
    margin-top: 50px;
    box-shadow: 1px 1px 5px var(--color-tertiary);
    font-family: var(--font-primary);
    font-size: 2rem;
    color: var(--color-primary);
}

.todo-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.todo__item {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    box-shadow: 1px 1px 5px var(--color-secondary);
    background-color: var(--color-primary);
    color: var(--color-tertiary);
    font-size: 1.2rem;
}

.todo__item > div {
    width: 80%;
}

.todo__item:hover {
    cursor: pointer;
    transition: all .5s ease;
    background-color: rgba(139, 0, 0, 0.3);    
    color: var(--color-secondary);
}

.todo__item > input[type='button'],
.todo__item > input[type='checkbox'] {
    width: 25px;
    height: 25px;
    font: inherit;
}

.todo__item > input[type='button']:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

/* Ao marcar a caixinha, o conteudo risca*/
.todo__item > input[type='checkbox']:checked + div {
    text-decoration: line-through;
}

.simbol {
    font-family: var(--font-primary);
    font-size: 2.2rem;
}

.todo-new-item {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--color-secondary);
    width: 100%;
    height: 70px;
    padding: 10px 0;
    box-shadow: 1px 1px 5px var(--color-tertiary);
    margin: 10px;
    font: inherit;
    color: var(--color-primary);
}

.todo-new-item > input {
    background-color: var(--color-primary);
    color: var(--color-tertiary);
    border: none;
    width: 80%;
    outline: none;
    font-family: var(--font-primary);
    font-size: 1rem;
    padding: 6px;
    /* font-weight: bolder; */
}

.todo-new-item > input::placeholder {
    font-family: var(--font-primary);
    color: var(--color-tertiary);
}